@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root .wallet-adapter-button-trigger {
  background: linear-gradient(to right, #9945FF, #14F195) !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
  backdrop-filter: blur(16px) !important;
  letter-spacing: 0.05em !important;
  color: white !important;
  max-width: 150px !important;
  max-width: 150px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding: 0 12px !important;  /* Adjust padding to ensure consistent button size */
  font-size: 14px !important;
}

:root .wallet-adapter-button-trigger:hover {
  filter: saturate(1.5) !important;
  background: linear-gradient(to right, #9945FF, #14F195) !important;
}
